* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

header {
    height: 60px;
    border-bottom: 1px solid #ccc;
}

header img {
    margin-top: 12px;
}


/*
    Vamos desconsiderar para utilizar o 
    sistema de grid do bootstrap
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
*/

#planos {
    padding: 80px 0;
}

#planos::after {
    content: "";
    display: block;
    clear: both;
}

article {
    padding: 10px;
    border: 1px solid #95a4a5;
}


/* Diz para considerar as configurações 
a partir do tamanho apontado em "min-width"

@media( min-width: 800px) {
    article {
        width: 30%;
        float: left;
        margin-right: 5%;
    }
}
*/

article>h2 {
    background-color: #95a4a5;
    /* Cor da fonte */
    color: #fff;
    text-align: center;
    /* Altura da linha equivalerá a 2,5 vezes o tamanho da fonte */
    line-height: 2.5;
    /* Senão colocarmos a margem negativa ficará um espaço em branco
        entre o conteúdo e a borda. Ao colocar a margem negativa esse
        espaço some, mas o texto a partir do R$59,00 por mês tb sobe.
        Para resolver esse último problema faremos a configuração do
        margin-bottom
    */
    margin: -10px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 28px;
}

article>div {
    text-align: center;
    font-size: 28px;
    /* Margem superior e inferior 20px e esquerda e direita 0 */
    margin: 20px 0;
}

article>ul {
    /* Para retirar os bollets da list ul */
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

article>ul>li {
    text-align: center;
}

article>footer {
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 12px 16px;
    background-color: darkgrey;
    color: white;
    text-decoration: none;
}

.botao:hover,
.botao:focus {
    background-color: grey;
}